# Jawaban Soal Seleksi Artificial Intelligence LKS 2025

## Soal 1

Terdapat sebuah data tentang penjualan real estate, yang mana model kamu memprediksi harga penjualan real estate. Run code nya untuk melihat detail datanya. Tentukanlah mana x dan y nya, lalu print untuk x dan y tersebut.

*clue : untuk mengambil suatu colom data maka gunakan df["nama_kolom"]

*nilai tambahan : menghapus kolom yang tidak perlu

In [5]:
import pandas as pd

df = pd.read_csv("Real estate.csv")

df.head()

### masukan kode anda dibawah ###########
df = df.drop(columns=["No", "transaction_date"])

x = df.drop(columns="house_price")
y = df["house_price"]

print(x)
print(y)
#########################################

     house_age  distance_nearest_MRT  convenience_stores  latitude  longitude
0         32.0              84.87882                  10  24.98298  121.54024
1         19.5             306.59470                   9  24.98034  121.53951
2         13.3             561.98450                   5  24.98746  121.54391
3         13.3             561.98450                   5  24.98746  121.54391
4          5.0             390.56840                   5  24.97937  121.54245
..         ...                   ...                 ...       ...        ...
409       13.7            4082.01500                   0  24.94155  121.50381
410        5.6              90.45606                   9  24.97433  121.54310
411       18.8             390.96960                   7  24.97923  121.53986
412        8.1             104.81010                   5  24.96674  121.54067
413        6.5              90.45606                   9  24.97433  121.54310

[414 rows x 5 columns]
0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: house_price, Length: 414, dtype: float64

### Soal 2

Anda mempunyai client seorang dokter yang ingin sebuah mesin yang mampu memprediksi apakah seseorang terkena obesitas atau tidak. Dokter itu memberikan data-data pasien yang terkena obesitas dan tidak. Tugasmu sekarang adalah hilangkan atribut / fitur yang tidak memengaruhi hasil dari prediksi apakah obesitas atau tidak.

*Clue : untuk menghilangkan kolom tertentu gunakan df.drop(columns="nama_kolom")

*tambahan nilai : gunakan satu baris kode untuk menghilangkannya

In [7]:
df = pd.read_csv("Obesity_Classification.csv")

### masukan kode anda dibawah ###########

df = df.drop(columns=["ID", "Child"])
#########################################

df.head()

   Age  Gender  Height  Weight   BMI       Category
0   25    Male   175.0    80.0   0.0  Normal Weight
1   30  Female   160.0    60.0  22.5  Normal Weight
2   35    Male   180.0    90.0  27.3     Overweight
3   40  Female     NaN    50.0  20.0    Underweight
4   45    Male   190.0   100.0  31.2          Obese

### Soal 3

Kamu sudah melihat datanya, lalu kamu melihat ada baris data / item yang tidak sesuai. Analisalah apa yang aneh dari data tersebut. Jika terdapat item yang mencurigakan maka kamu harus menampilkan / print urutan itemnya.

*tambahan nilai : hapus item tersebut

In [37]:

### masukan kode anda dibawah ###########
print("Data BMI yang 0, seharusnya ada nilainya")
print(df[df["BMI"] == 0])
print("Data Height yang hilang")
print(df[df["Height"].isnull()])
print("Data Weight yang hilang")
print(df[df["Weight"].isnull()])
print("Format Gender yang berbeda")
print(df[(df["Gender"] != "Male") & (df["Gender"] != "Female")])

df = df.drop(index=[0, 3, 7])
#########################################

df

Data BMI yang 0, seharusnya ada nilainya
   Age Gender  Height  Weight  BMI       Category
0   25   Male   175.0    80.0  0.0  Normal Weight
Data Height yang hilang
   Age  Gender  Height  Weight   BMI     Category
3   40  Female     NaN    50.0  20.0  Underweight
Data Weight yang hilang
   Age Gender  Height  Weight   BMI     Category
7   60  Emale   130.0     NaN  13.3  Underweight
Format Gender yang berbeda
   Age Gender  Height  Weight   BMI     Category
7   60  Emale   130.0     NaN  13.3  Underweight

    Age  Gender  Height  Weight   BMI       Category
1    30  Female   160.0    60.0  22.5  Normal Weight
2    35    Male   180.0    90.0  27.3     Overweight
4    45    Male   190.0   100.0  31.2          Obese
5    50  Female   140.0    40.0  16.7    Underweight
6    55    Male   200.0   110.0  34.2          Obese
8    65    Male   210.0   120.0  37.2          Obese
9    70  Female   120.0    20.0  10.0    Underweight
10   70  Female   120.0    20.0  10.0    Underweight

### Soal 4

Ayo semangat sedikit lagi kamu selesai ;)

Sekarang buatlah kode untuk membuat model datanya. Pertama kamu import semua library nya, lalu kamu tentukan mana x nya dan mana y nya. lalu mulai proses fit atau melakukan training data nya. Setelah itu, kamu print untuk y prediksi mu dan y asli mu, lalu hitung berapa kali prediksimu benar.

*Clue : untuk menghasilkan nilai prediksi maka buat nama_model.predict(x) lalu disimpan di sebuah variable

In [59]:
from sklearn.neighbors import KNeighborsClassifier

### masukan kode anda dibawah ###########
x = df.drop(columns=["Category", "Gender"])
y = df["Category"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)
print("prediksi: ")
print(y_pred)
print("aslinya: ")
print(y_test)

print("jawaban benar", (y_pred == y_test).sum())
print("jawaban salah", (~(y_pred == y_test)).sum())

#########################################

prediksi:
['Obese' 'Obese']
aslinya:
2    Overweight
8         Obese
Name: Category, dtype: object
jawaban benar 1
jawaban salah 1